<div class="yapt_table_col ##is_highlighted##">
    <div class="yapt_table_row col_title">
        ##col_title##
    </div>
    <div class="yapt_table_row col_price">
        <sup class="yapt-price-currency">##col_price_currency##</sup><span class="yapt-price-value">##col_price##</span><span class="yapt-price-suffix"> ##col_price_suffix##</span>
    </div>
    <div class="yapt_table_row col_subtitle">
        ##description##
    </div>
    <div class="yapt_table_row col_features">
        <ul class="table-list">
            ##col_feature_list##
        </ul>
    </div>
    <div class="yapt_table_row col_cta">
        <a href="##col_cta_btn_lnk##" class="btn_cta"> ##col_cta_btn_text## </a>
    </div>
</div>