.yapt_pricing_table {
    display: flex;
    justify-content: center;
}

.yapt_table_col-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.yapt_table_col-title a {
    font-size: 0.6em;
}

.yapt_action_buttons {
    padding: 40px 0;
}

.yapt_action_buttons button {
    margin: 0 5px;
    padding: 12px;
}
.yapt_table_col .col_price .yapt-price-currency{
    font-size: 0.7em;
    opacity: 0.7;
}
.yapt-price-suffix{
    font-size: 0.7em;
    opacity: 0.7;
}
/** ========================
* Contenedor
============================*/

.yapt_table_col {
    border: 1px solid #ddd;
    text-align: center;
    width: 300px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.yapt_table_col.highlighted {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.col_title {
    color: #777;
    background: #fff;
    padding: 30px 0 0;
    font-size: 1.3em;
    text-transform: capitalize;
}

.col_subtitle {
    color: #777;
    background: #fff;
    padding: 12px 20px;
    font-size: 0.8em;
    border-bottom: 1px solid #eee;
}

.yapt_table_col.highlighted .col_title {
    background: #2db3cb;
    color: #fff;
    padding-bottom: 30px;
}

.yapt_table_col.highlighted .col_price,
.yapt_table_col.highlighted .col_subtitle {
    border-left: 2px solid #2db3cb;
    border-right: 2px solid #2db3cb;
}

.yapt_table_col.highlighted .col_subtitle {
    border-bottom: 2px solid #2db3cb;
}

.yapt_table_col .col_price {
    background: #fff;
    color: #777;
    font-size: 2em;
    font-weight: normal;
    padding: 20px 0;
}

.col_features ul {
    background: #FFF;
    color: #403d3a;
    margin: 0;
    padding: 0;
    list-style: none;
}

.table-list li {
    font-size: 1em;
    padding: 12px 8px;
    text-transform: capitalize;
}

.table-list li:before {
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    position: relative;
    right: 8px;
    font-size: 20px;
}

.table-list li.checked:before {
    content: "\f058";
    color: #2db3cb;
}

.highlighted .table-list li.checked:before {
    font-weight: bold;
}

.table-list li.unchecked:before {
    content: "\f057";
    color: #ccc;
}

.highlighted .table-list li.unchecked:before {
    font-weight: bold;
}

.table-list li.unchecked {
    color: #ccc;
}

.table-list li span {
    font-weight: 400;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #2db3cb;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}


.table-list li:nth-child(2n) {
    background: #f7f7f7;
}

.col_cta {
    background: #FFF;
    border-top: 1px solid #F0F0F0;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.col_cta p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2.4em;
}

.col_cta p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
}

.col_cta .btn_cta {
    display: inline-block;
    color: #2db3cb;
    border: 1px solid #2db3cb;
    padding: 10px 16px;
    font-size: 1em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    text-transform: capitalize;
}

.col_cta .btn_cta:hover {
    background: #2db3cb;
    color: #fff;
}

.highlighted .col_cta .btn_cta {
    background: #2db3cb;
    color: #fff;
}

.highlighted .col_cta .btn_cta:hover {
    background: #228799;
}

/** ================
* Responsive
===================*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .yapt_pricing_table {
        width: 768px;
    }

    .yapt_table_col {
        width: 236px;
    }

    .table-list li {
        font-size: 1.3em;
    }

}

@media only screen and (max-width: 767px) {
    .yapt_pricing_table {
        flex-direction: column;
    }

    .yapt_table_col {
        display: block;
        float: none;
        margin: 40px 0 40px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .yapt_pricing_table {
        width: 300px;
    }
}