<main class="josi_pricing_table">

    <!-- .Pricing Table Column -1 Starts -->
    <div class="josi_table_col">
        <div class="josi_table_row col_title">
            ##col1_title##
        </div><!-- .col_title ends -->
        <div class="josi_table_row col_price">
            $ ##col1_price##
        </div><!-- .col_price ends -->
        <div class="josi_table_row col_features">
            <ul class="table-list">
                ##col1_feature_list##
            </ul>
        </div><!-- .col_features ends -->
        <div class="josi_table_row col_cta">
            <a href="##col1_cta_btn_lnk##" class="btn_cta"> ##col1_cta_btn_text## </a>
        </div><!-- .col_cta ends -->
    </div><!-- .josi_table_col ends -->

    <!-- .Pricing Table Column -1 Ends -->

    <!-- .Pricing Table Column -2 Starts -->
    <div class="josi_table_col recommended">
        <div class="josi_table_row col_title">
            ##col2_title##
        </div><!-- .col_title ends -->
        <div class="josi_table_row col_price">
            ##col2_price##
        </div><!-- .col_price ends -->
        <div class="josi_table_row col_features">
            <ul class="table-list">
                ##col2_feature_list##
            </ul>
        </div><!-- .col_features ends -->
        <div class="josi_table_row col_cta">
            <a href="##col2_cta_btn_lnk##" class="btn_cta"> ##col2_cta_btn_text## </a>
        </div><!-- .col_cta ends -->
    </div><!-- .josi_table_col ends -->
    <!-- .Pricing Table Column -2 Ends -->

    <!-- .Pricing Table Column -3 Starts -->
    <div class="josi_table_col">
        <div class="josi_table_row col_title">
            ##col3_title##
        </div><!-- .col_title ends -->
        <div class="josi_table_row col_price">
            ##col3_price##
        </div><!-- .col_price ends -->
        <div class="josi_table_row col_features">
            <ul class="table-list">
                ##col3_feature_list##
            </ul>
        </div><!-- .col_features ends -->
        <div class="josi_table_row col_cta">
            <a href="##col3_cta_btn_lnk##" class="btn_cta"> ##col3_cta_btn_text## </a>
        </div><!-- .col_cta ends -->
    </div><!-- .josi_table_col ends -->
    <!-- .Pricing Table Column -3 Ends -->
</main>