.yapt_pricing_table {
    display: flex;
    justify-content: center;
    margin: 85px 0 0;
}

.yapt_table_col-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.yapt_table_col-title a {
    font-size: 0.6em;
}

.yapt_action_buttons {
    padding: 40px 0;
}

.yapt_action_buttons button {
    margin: 0 5px;
    padding: 12px;
}

/** ========================
* Contenedor
============================*/


.yapt_table_col {
    text-align: center;
    width: 280px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    margin: 0 20px;
}

.yapt_table_col.highlighted {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.aanya_heading{
    background: url('aanya-head.svg') no-repeat;
    background-size: 100% auto;
    height: 265px;
    position: relative;
    z-index: 2;
}
.highlighted .aanya_heading{
    background: url('aanya-head-highlight.svg') no-repeat;
    background-size: 100% auto;
    height: 258px;
}
/* ========================
* Title
============================*/
.col_title {
    color: #111;
    font-size: 1.7em;
    text-transform: capitalize;
}
.highlighted .col_title{
    color: #fff;
}
.col_subtitle {
    color: #777;
    padding: 12px 20px;
    font-size: 0.8em;
}
.highlighted .col_subtitle{
    color: #fff;
}

/* ========================
* Price
============================*/

.yapt_table_col .col_price {
    color: #000;
    font-size: 1.3em;
    font-weight: normal;
    padding: 0;
    height: 70px;
}
.aanya_price_frame{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 90px;
    border: 5px solid #ddd;
    position: relative;
    top: -47px;
    overflow: hidden;
}
.highlighted .aanya_price_frame{
    top: -52px;
    border-color: #b63ac3;
}
.yapt_table_col .col_price .yapt-price-currency{
    font-size: 0.7em;
    opacity: 0.7;
}
.yapt-price-suffix{
    font-size: 0.7em;
}
/* ========================
* Features
============================*/

.col_features ul {
    background: #fdfdfd;
    color: #403d3a;
    margin: 0;
    padding: 70px 0 40px 0;
    list-style: none;
    border: 1px solid #ddd;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-top: -67px;
}

.table-list li {
    font-size: 0.9em;
    padding: 12px 8px;
    text-transform: capitalize;
}

.table-list li:before {
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    position: relative;
    right: 8px;
    font-size: 20px;
}

.table-list li.checked:before {
    content: "\f058";
    color: #aaa;
}

.highlighted .table-list li.checked:before {
 
    color: #b63ac3;
}

.table-list li.unchecked:before {
    content: "\f057";
    color: #ccc;
}

.highlighted .table-list li.unchecked:before {

    color: #b63ac3;
}

.table-list li.unchecked {
    color: #ccc;
}

.table-list li span {
    font-weight: 400;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #b63ac3;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}


.table-list li:nth-child(2n) {
    background: #f7f7f7;
}

.col_cta {
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 99;
    text-align: center;
    overflow: hidden;
    top: -21px;
}

.col_cta .btn_cta {
    display: inline-block;
    background: #fff;
    color: #b63ac3;
    border: 1px solid #b63ac3;
    padding: 8px 22px;
    font-size: 0.9em;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 30px;
}

.col_cta .btn_cta:hover {
    background: rgb(182,58,195);
    background: linear-gradient(90deg, rgba(182,58,195,1) 0%, rgba(226,31,138,1) 100%);
    color: #fff;
}

.highlighted .col_cta .btn_cta {
    background: rgb(182,58,195);
    background: linear-gradient(90deg, rgba(182,58,195,1) 0%, rgba(226,31,138,1) 100%);
    color: #fff;
}

.highlighted .col_cta .btn_cta:hover {
    background: rgb(152,42,168);
    background: linear-gradient(90deg, rgba(152,42,168,1) 0%, rgba(196,16,123,1) 100%);
}

/** ================
* Responsive
===================*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .yapt_pricing_table {
        width: 768px;
    }
    .yapt_table_col {
        width: 236px;
    }
   
    .aanya_heading{
        height: 210px;
    }
    .highlighted .aanya_heading{
        height: 210px;
    }
}

@media only screen and (max-width: 767px) {
    .yapt_pricing_table {
        flex-direction: column;
    }

    .yapt_table_col {
        display: block;
        float: none;
        margin: 40px auto;
        width: 350px;
    }
    .aanya_heading{
        height: 327px;
    }
    .highlighted .aanya_heading{
        height: 310px;
    }
}

@media only screen and (max-width: 479px) {
    .yapt_pricing_table {
        width: 300px;
    }
}