/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
img {
    max-width: 100%;
}

div.feature_column_container div {
    margin: 0 5px;
}

table#ypt_columns tbody {
    border: 2px dashed #ff0000;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/****************************************
Style the tab
************************************************/
.yapt_add_title {
    margin-bottom: 20px;
}

.yapt_pricing_table_title {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}

.yapt_wrap {
    display: flex;
}

.tab {
    width: 16%;
    overflow: hidden;
    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: block;
    width: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #eee;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
    border-right: none;
}

.tab button .dashicons {
    display: block;
    margin: 10px auto 20px;
    font-size: 30px;
    width: 30px;
    color: #555;
}

/* Style the tab content */
.tabcontent {
    background: #fff;
    display: none;
    padding: 20px;
    border-left: none;
    width: 84%;
    border: 1px solid #ccc;
    border-left: none;
}

.yapt_add_column {
    background: #1d2327;
    display: block;
    color: #fff;
    text-decoration: navajowhite;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
    font-size: 18px;
    width: 85px;
    transition: 0.3s;
}

.yapt_add_column:hover {
    background: #555;
    color: #fff;
}

.yapt_add_column span {
    display: block;
    width: 30px;
    font-size: 30px;
    margin: 0px auto 15px;

}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/****************************************
  Style the table - Add Column
************************************************/
.ypt_columns_wrap {
    display: flex;
    flex-wrap: wrap;
}

.yapt_table_column {
    width: 27%;
    padding: 65px 20px 20px;
    background: #f3f3f3;
    margin: 20px 1% 20px 0;
    position: relative;
}

.yapt_table_row {
    padding: 4px 0;
}

.yapt_table_row label {
    display: block;
}

.yapt_table_row input[type="text"] {
    width: 100%;
    padding: 3px 8px;
    border: 1px solid #ddd;
    margin-top: 3px;
    border-radius: 0;
}

.yapt_table_row select {
    width: 100%;
    padding: 3px 8px;
    border: 1px solid #ddd;
    margin-top: 3px;
    border-radius: 0;
}

.yapt_table_row_features.yapt_table_row input[type="text"] {
    width: 70%;
}

.yapt_table_row_features.yapt_table_row label {
    display: inline-block;
    height: 25px;
    margin: 0 0 3px;
}

.delete_column {
    color: rgb(204, 5, 5);
    text-decoration: none;
    margin: 16px 0 10px;
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 0;
}

.delete_column:hover {
    color: rgb(247, 112, 112);
}

.delete_column span {
    font-size: 30px;
}

.yapt_table_row_features_head {
    padding: 20px 0 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.features_title {
    font-size: 20px;
    font-weight: bold;
}

.add_feature {
    text-decoration: none;
    text-align: right;
    text-transform: capitalize;
    float: right;
}

.add_feature .dashicons {
    padding-right: 5px;
	transition: all 0.3s;
}
.add_feature:hover .dashicons{
	padding-right: 3px;
	transform: scale(1.3);
}

.delete_feature {
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.delete_feature .dashicons {
    color: rgb(204, 5, 5);
    font-size: 30px;
}

.delete_feature:hover .dashicons {
    color: rgb(233, 67, 67);
}

/****************************************
Custom Switch
******************************************/
.switch_featured {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    color: #777;
    font-weight: bold;
    line-height: 21px;
}

.switch_featured label {
    display: inline-block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1eaf11;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1eaf11;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/****************************************
Custom Checkbox
******************************************/

/* Customize the label (the container) */
.yapt_label_con {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.yapt_label_con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #ccc;
}

/* On mouse-over, add a grey background color */
.yapt_label_con:hover input ~ .checkmark {
    border: 2px solid #2196F3;
}

/* When the checkbox is checked, add a blue background */
.yapt_label_con input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 2px solid #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.yapt_label_con input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.yapt_label_con .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/****************************************
Theme Tab
******************************************/
.yapt_template_list {
    display: flex;
    flex-wrap: wrap;
}

.yapt_template_item {
    width: 30%;
    margin: 0 1%;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #2db3cb;
}


.tabcontent textarea {
    width: 100%;
    min-height: 300px;
}

.tabcontent textarea.short_description {
    min-height: 100px;
}

input[required].yapt_required {
    border: 2px solid #ff0000;
}

.dgrid{
	display: flex;
	align-items: center;
}

.yapt_table_row_features .dashicons-menu{
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
	position: relative;
	left: -5px;
}
.yapt_table_row_features .dashicons-menu:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}